<div dir="rtl">
    <h2 mat-dialog-title>{{ data ? 'تعديل قسم' : 'إضافة قسم' }}</h2>
    <form [formGroup]="form" (ngSubmit)="save()" mat-dialog-content>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>الاسم</mat-label>
            <input matInput formControlName="name" />
            @if (form.get('name')?.hasError('required')) {
            <mat-error>الاسم مطلوب</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>الوصف</mat-label>
            <textarea matInput rows="3" formControlName="description"></textarea>
        </mat-form-field>

        <div class="mt-5 " align="end">
            <button  class="mx-2 px-6 radius" type="button" (click)="dialog.close()">إلغاء</button>
            <button  class="mx-2 px-6 radius" type="submit" [disabled]="form.invalid">
                حفظ
            </button>
        </div>
    </form>
</div>