<mat-toolbar color="primary" class="mat-elevation-z4" dir="rtl">
    <span class="app-title">نظام إدارة الموارد البشرية</span>

    <span class="flex-spacer"></span>

    <a mat-button routerLink="/employees" routerLinkActive="active-link">الموظفون</a>
    <a mat-button routerLink="/departments" routerLinkActive="active-link">الأقسام</a>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="user-btn">
        <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item disabled>
            <mat-icon>person</mat-icon>
            <span>{{ user?.username }}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>تسجيل الخروج</span>
        </button>
    </mat-menu>
</mat-toolbar>