<!-- form.component.html -->
<div class="form">
    <form
      dir="rtl"
      novalidate
      [formGroup]="form"
      (ngSubmit)="login()"
      class="form-inline"
    >
      <h2 style="margin-right:2rem;">HR Management System</h2>
  
      <!-- username -->
      <mat-form-field appearance="outline" class="input2">
        <mat-label>إدخل اسم المستخدم</mat-label>
        <input
          matInput
          formControlName="username"
          autocomplete="username"
          placeholder="اسم المستخدم"
        />
        <mat-error *ngIf="form.get('username')?.hasError('required')">
          يجب إدخال اسم المستخدم
        </mat-error>
        <mat-error *ngIf="form.get('username')?.hasError('minlength')">
          اسم المستخدم يجب أن يكون 3 أحرف على الأقل
        </mat-error>
      </mat-form-field>
  
      <!-- password -->
      <mat-form-field appearance="outline" class="input2">
        <mat-label>كلمة السر</mat-label>
        <input
          matInput
          type="password"
          formControlName="pass"
          autocomplete="current-password"
          placeholder="كلمة السر"
        />
        <mat-error *ngIf="form.get('pass')?.hasError('required')">
          كلمة السر مطلوبة
        </mat-error>
        <mat-error *ngIf="form.get('pass')?.hasError('minlength')">
          يجب أن تكون كلمة السر أكبر من 3 أحرف
        </mat-error>
      </mat-form-field>
  
      <br />
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="btn btn-custom mb-2 buttonSend"
      >
        تسجيل دخول
      </button>
  
      <a class="forgot-password">هل نسيت كلمة السر؟</a>
    </form>
  </div>
  